<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Brucheion entrance</title>
  <script src="https://use.typekit.net/lkh0ago.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/files/css/auth_cup_of_tea.css">
<link rel="icon" type="image/x-icon" href="/files/img/favicon.png">


</head>
<body> 
    {{ body }}
</body>
</html>
