{{ layout "newroot_layout.html" }}

<div class="w-full flex-1 flex">
    <div class="bg-gray-100 w-full flex-1 px-6 flex justify-center items-center">
        <div class="overflow-hidden shadow-lg bg-white rounded-xl text-black w-1/2 min-w-700 flex">
            <div class="bg-bblue-500 w-1/2 flex">
                <img class="p-8" src="/files/img/nlogo.svg">
            </div>
            <div class="w-1/2 min-h-500 flex flex-col">
                <div class="flex-1 flex flex-col items-center">
                    <div class="px-4 py-4 text-xl">Please complete your details below to register</div>
                    <div class="w-full" hx-vals='{"code": "{{.Code}}", "purpose":"{{.Purpose}}"}' >
                        <div hx-post="../" hx-swap="outerHTML" hx-trigger="load">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
