{{define "stylesheets"}}
<link rel="stylesheet" type="text/css" href="/files/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/files/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/files/css/view.css">
<link rel="stylesheet" type="text/css" href="/files/css/common.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/files/static/css/view.css" />
<link rel="icon" type="image/x-icon" href="/files/img/favicon.png">

<style>
  .tile-resizable {
    resize: both;
    overflow: hidden
  }

 
</style>
{{end}}
