<form id="signin-form" class="w-full px-4 bg-white" hx-post="" hx-swap="outerHTML"
  {{if .UseRecaptcha}}
  hx-trigger="verified" >
  <input type="hidden" id="recaptcha" name="recaptcharesponse">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script type="text/javascript">
    function onSubmit(token) {
      document.querySelector("#recaptcha").value = token
      const event = new Event('verified');
      const elem = document.querySelector("#signin-form");
      elem.dispatchEvent(event);
    }
  </script>
  {{else}}
  >
  {{end}}
  <script type="text/javascript">
    function show() {
      document.getElementById("crosseye").classList.remove("hidden")
      document.getElementById("eye").classList.add("hidden")
      document.getElementById("password").type = "text"

    }

    function hide() {
      document.getElementById("eye").classList.remove("hidden")
      document.getElementById("crosseye").classList.add("hidden")
      document.getElementById("password").type = "password"
    }

    function onChangeEmail() {
      if (document.getElementById("errorEmail")) {
        document.getElementById("errorEmail").classList.add("hidden")
      }
    }
    function onChangePassword() {
        if (document.getElementById("errorPwd")) {
            document.getElementById("errorPwd").classList.add("hidden")
        }
    }

  </script>
  <div class="mb-4">
    <label for="email" class="block text-sm text-black pb-2 text-[13px] font-[450]">EMAIL</label>
    <input type="email" id="email" name="email"
           class="w-full py-2 px-4 bg-gray-100 rounded-full focus:outline-none focus:border-blue-500"
           value="{{.Email}}"
           onchange="onChangeEmail()"
           placeholder="you@example.com"
           required>
    {{if .EmailErrorMsg}}
    <p id="errorEmail" class="text-red-500">{{.EmailErrorMsg}}</p>
    {{end}}
  </div>
  <div class="mb-4 pt-4" >
    <div class="flex items-center justify-between">
      <label for="password" class="block text-sm text-black pb-2 text-[13px] font-[450]">PASSWORD</label>
      <a href="{{ .ForgotPwdUrl}}" class="text-blue-500 text-sm pb-2 text-[13px] font-[450]">Forgot
        Password?</a>
    </div>
    <div class="relative">
      <input type="password" id="password" name="password"
             class="w-full py-2 px-4 bg-gray-100 rounded-full focus:outline-none focus:border-blue-500"
             value="{{.Password}}"
             onchange="onChangePassword()"
             placeholder="password"
             required>
      <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
        <svg id="eye" onclick="show()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
          <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
        </svg>
        <svg id="crosseye" onclick="hide()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 hidden">
          <path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
          <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
          <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
        </svg>
      </div>
    </div>

    {{if .PasswordErrorMsg}}
    <p id="errorPwd" class="text-red-500">{{.PasswordErrorMsg}}</p>
    {{end}}

  </div>
  <div class="flex justify-center">
    <button
            {{if .UseRecaptcha }}
            data-sitekey="{{ .RecaptchaKey }}" data-callback='onSubmit' data-action='signin'
            {{else}}
            type="submit"
            {{end }}
            class="g-recaptcha bg-bblue-500 text-white py-3 px-6 rounded-full flex items-start">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span class="px-2">Sign in</span>
    </button>
  </div>
  {{if .ShowGoogleAuth}}
  <div class="flex justify-center pt-8">
    <a
            href="{{ .GoogleUrl }}"
            class="bg-gred-500 text-white py-1 px-4 rounded-full flex items-start">
      Sign in with Google
    </a>
  </div>
  {{end}}
</form>

